.main-container{
      display: flex;
      background-color: #fff;
      flex-direction: column;
      min-height: 100vh;
      overflow: hidden;
      .wrapper{
            max-width: 95%;
            margin: 0 auto;
            padding: 0 15px;
            .rowSection{
                  &:nth-child(2n+1){
                        margin-bottom: 16px;
                  }
            }
      }
      main{
            background-color: #fff;
            min-height: 80vh;
            margin-top: 110px;
      }
      .nonAnchor{
            text-decoration: none;
            color: inherit;
      }
}